@import "../../../../variables.scss";
:host {
    background: $darkgray;
    padding: 20px;
}
.category {
    color:white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #777
}